<!-- header -->
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 text-center">
				<!-- logo -->
				<div class="site-logo">
					<a href="/">
						<img src="/static/img/logo3.png" alt="" >
					</a>
				</div>
				<!-- logo -->

				<!-- menu start -->
				<nav class="main-menu">
					<ul>
                            {% with messages = get_flashed_messages(with_categories=True) %}
                                {% for category, message in messages %}
                                    <li>
                                        <div class="flash {{category}}">{{message}}</div>
                                    </li>
                                {% endfor %}
                            {% endwith%}


						<li {% if request.path =='/' or request.path =='/home' %} class="current-list-item" {% endif %}><a href="/"><i class="fas fa-home"></i></a>
						</li>
						<li {% if request.path =='/about' %} class="current-list-item" {% endif %}><a href="/about">Our Story</a></li>
						<li {% if request.path =='/events' %} class="current-list-item" {% endif %}><a href="/events">Events</a>
						</li>
						<li {% if request.path =='/menu' %} class="current-list-item" {% endif %}><a href="/menu">Menu</a>
						</li>
						<li{% if request.path =='/contact_us' %} class="current-list-item" {% endif %}><a href="/contact_us">Contact</a></li>
						{% if session.username%}
                            <li>
                                <a href="/profile" class="logged-in">{{ session.username}}</a>
                            </li>
                            <li>
                                <a href="/logout" class="logged-in">logout</a>
                            </li>
                        {% endif %}
                        <li>
							<div class="header-icons">
                                {% if session.username %}
								    <a {% if request.path =='/cart' %}class="current-list-item" {% endif %} href="/cart"><i class="fas fa-shopping-cart"></i></a>
								{% else %}
                                    <a onclick="open_login();return false;" ><i class="fas fa-shopping-cart"></i></a>
                                {% endif %}
                                <!-- need to put in the mobile as well!!!!  -->

							</div>
						</li>
					</ul>
				</nav>
{#            !!!!!!!!!!need to change the responsive menu#}
                {% if session.username%}
                {% else %}
                    <a class="mobile-show person-bar-icon" onclick="open_login();return false;"><i class="fas fa-male" ></i></a>
                {% endif %}
				<div class="mobile-menu"></div>
			</div>
		</div>
	</div>
</div>
<!-- end header -->
