{% extends 'base.html' %}

{% block title %} {{ title }}  {% endblock %}
{% block js %}
    {{ super() }}
{% endblock %}
{% block css %}
    {{ super() }}
        <link  href="{{url_for('profile.static', filename='css/contactUs.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- grey area -->
	<div class="grey-area grey-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 offset-lg-0 text-center">
					<div class="grey-text">
						<div class="grey-text-tablecell">
							<h1 class="contactUsTitle">My Profile</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end grey area -->
<div class="text-center" >
    {% if user %}
        <h2>Edit Profile</h2>
        <form name="UserProfile" method="POST" action="/update_user">
            <div>
                <label for="FirstName"></label>Your First Name:
                <br>
                <input type="text" id="FirstName" name="FirstName" value="{{ user.first_name }}">
            </div>
            <div>
                <label for="LastName"></label>Your Last Name:
                <br>
                <input type="text" id="LastName" name="LastName" value="{{ user.last_name }}">
            </div>
            <div>
                <label for="Password"></label>New Password:
                <br>
                <input type="password" id="Password" name="Password" value="" placeholder="My new password">
            </div>

            <div>
                <input id="UpdateProfile" type="submit" value="Update Profile!" >
            </div>
        </form>
{% endif %}
</div>

{% endblock %}


